@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: none;
}

table {
  border-collapse: collapse;
  background-color: white;
  overflow: hidden;
  width: 500px;
  border-radius: 0px;
 
  
}

th, td {
  font-family:'Motnserrat',sans-serif;
  text-align: left;
  font-size: 16px;
  padding: 12px;
  text-align:center;
  border-right:1px  solid;
  border-bottom:1px black solid;
  border:1px black solid;
  border-top:1px black solid;
}

th {
  background-color: #0d6efd;
  color: white;
  border-bottom:1px black solid;
}